/* -----------MINI RESET----------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Anek Malayalam', sans-serif;
}

/* -----------STYLE GENERAL----------- */

body {
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}
h2 {
    margin-top: 30px;
    text-align: center;
}
p {
    font-size: 1.4rem;
}
a {
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
}
li {
    list-style: none;
}
article.article_margin {
    margin: 0 150px;
}
aside {
    text-align: center;
    a {
        @extend .bouton;
    }
    p {
        margin-bottom: 15px;
    }
}

/* -----------HERITAGE----------- */

.bouton{
    background-color: #121212;
    color: #F5F5F5;
    padding: 10px;

        &:hover {

            background-color: #F5F5F5;
            color: #121212;
            border: 1px solid #121212;
        }
}

/* -----------HEADER----------- */

header {

    ul {
        display: flex;
        justify-content: space-between;
        
        #list_contact {
            display: flex;
    
            li {
                
                &:nth-child(1) {
                    margin-right: 20px;
                } 

                a:hover {
                    color: #F5F5F5;
                }
            }
        }
    }
}


/* -----------CONTAINER_MAIN----------- */

#main_container, #competence{
    background-color: #121212;
    height: 100vh;
    color: #F5F5F5;
    overflow: hidden;

    h1 {
        margin-left: 150px;
    }
}


#block_portfolio_main {
    display: flex;
    align-items: center;
    height: calc(100vh - 28px);

    #portfolio_main {
        width: 60%;
        margin-right: 40px
    }

    lottie-player {
        height: auto;
        width: 20%;
    }
}

/* -----------CREATION----------- */

#creation {
    height: 100vh;
    text-align: center;
    overflow: hidden;

    
     p {
        margin-bottom: 15px;
      
    }

    article#article_creation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    
    
        .blocks_creation {
            position: relative;
            transition: all .3s;
            color: #121212;
            text-shadow: 0 0 15px #F5F5F5;

            &:hover {
                opacity: .5;
                
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                color: #F5F5F5;
                border: 1px solid #121212;

            }
        
            h3 {
                position: absolute;
                top: 50%;
                left: 10%;
                color: #121212;
                text-shadow: 0 0 15px #F5F5F5;
            }
        }
    }

}

/* -----------COMPETENCE----------- */

        /* -----------progress bar----------- */


.skill {
    width: 160px;
    height: 160px;
    position: relative;
    margin-left: 100px;
    
    
    
    h4 {
        margin-left: 65px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        color: #F5F5F5;
    }

    .grand-titre {
        margin-left: 47px;
    }
    
}
.outer {
    height: 120px;
    width: 120px;
    margin-bottom: 50px;
    border-radius: 50%;
    padding: 20px;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
    background-color: #F5F5F5;
}
.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,1),
    -0.5px -0.5px 0px  rgba(255,255,255,1),
    0.5px 0.5px 0px  rgba(0,0,0,0.15),
    0px 12px 10px -10px  rgba(0,0,0,0.05);
    background-color: #121212;
}
.number {
    font: {
        weight:bold;
        size: 20px
    }
    color:#F5F5F5;
}

circle  {
    fill: none;
    stroke: url(#colorHTML);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;  
    
}


circle#circleHTML  {

    animation: circleHTML 2s linear forwards;
   
}
circle#circleCSS  {

    animation: circleCSS 2s linear forwards;
   
}
circle#circleJS {

    animation: circleJS 2s linear forwards;
   
}
circle#circlePHP  {

    animation: circlePHP 2s linear forwards;
   
}
circle#circleBT  {

    animation: circleBT 2s linear forwards;
   
}
circle#circleSASS {

    animation: circleSASS 2s linear forwards;
   
}
circle#circleWP  {

    animation: circleWP 2s linear forwards;
   
}
circle#circleGIT {

    animation: circleGIT 2s linear forwards;
   
}
svg {
    position: absolute;
    top: 58px;
    left: 0;

}
@keyframes circleHTML {
    100%{
        stroke-dashoffset: 141;
    }
}
@keyframes circleCSS{
    100%{
        stroke-dashoffset: 188;
    }
}
@keyframes circleJS {
    100%{
        stroke-dashoffset: 330;
    }
}
@keyframes circlePHP {
    100%{
        stroke-dashoffset: 306;
    }
}
@keyframes circleBT {
    100%{
        stroke-dashoffset: 188;
    }
}
@keyframes circleSASS {
    100%{
        stroke-dashoffset: 212;
    }
}
@keyframes circleWP {
    100%{
        stroke-dashoffset: 283;
    }
}
@keyframes circleGIT {
    100%{
        stroke-dashoffset: 283;
    }
}

#principale {
    width: 100%;
    height: 600px;
}
.ligne {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content:space-around;
}

#competence {
    aside {
        a {
            background-color: #F5F5F5;
            color:#121212;

            &:hover {

            background-color: #121212;
            color: #F5F5F5;
            border: 1px solid #F5F5F5;

            }
        }
    }
}

/* -----------EXPERIENCE----------- */


#experiences {
    position: relative;

    .block_card {
        height: 25vh;
        width: 500px;
        position: absolute;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    
    }

    #block_card_1, #block_card_3 {
        margin-top: 30px;
        margin: 0 20.5%;
        background-color: #30475E;
        color: #F5F5F5;

        .p-border {

            border-bottom: 1px solid #F05454;
            width: 50%;
            margin: 10px auto;
        }
    }
    
    #block_card_3{
        top: 580px;
        
    }
    
    
    #block_card_2{
        top: 311px;
        margin: 0 50%;
        background-color: #F05454;
        color: #121212;

        .p-border {

            border-bottom: 1px solid #30475E;
            width: 50%;
            margin: 10px auto;
        }
    }
    
    #vertical-line{
        border-left: 2px solid #000;
        height: 84vh;
        margin: 0 20px;
        position: absolute;
        right: 50%;
    }


}

#container_parcours{
    position: relative;

    aside#aside_parcours{
        position: absolute;
        bottom: -950px;
        right: 50%;
        transform: translate(50%);

    }
}





/* -----------TEMPLATE----------- */


header.template {
    background-color: #121212;
    color: #F5F5F5;

    li:nth-child(1) {
        margin-left: 55px;
    }
}


article#article_main {
    margin:0px;

    h2, p, ul {
        margin:0px 150px;
    }
    
}

#main_template {
    height: 100vh;


    .picture_template {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -500;
        overflow: hidden;

    }

    /* -----------BACKGROUND TEMPLATE----------- */

    #bedboat-page {
        background: url('../../images/points.png'), center  url('../../images/bedboat.webp');
        background-size: cover;
        
    }
    
    #daily-page {
        background: url('../../images/points.png'), center url('../../images/dailyFresh.webp');
        background-size: cover;
    }

    #SimplyHome-page {
        background: url('../../images/points.png'), center url('../../images/simplyHomeMain.webp');
        background-size: cover;
    }

    /* -----------FIN BACKGROUND TEMPLATE----------- */
    
    #title_template {
        background-color: #30475E;
        color: #F05454;
        width: 525px;
        transform: rotateZ(-50deg);
        margin-left: -162px;
        margin-top: 97px;

        p {
            text-align: center;
        }
        
    }
}


#presentation_template {
    height: 50vh;
    text-align: center;

    p {
        margin-bottom: 20px;
    }

    a {
        @extend .bouton;
    }
}

/* -----------FOOTER----------- */

footer {
    border-top: 3px solid #121212;

    p {
        margin: 20px 150px;
    }
}
#footer_main {
    position: absolute;
    bottom: -3050px;
    width: 100%;
}

/* -----------RESPONSIVE DESIGN----------- */

        /* -----------MEDIUM----------- */

@media screen and (max-width: 950px) {

    /* -----------CONTAINER_MAIN => RESPONSIVE ----------- */

    #block_portfolio_main {
        flex-direction: column;
        justify-content: center;

        p {
            width: 100%;
        }
        lottie-player {
            width: 30%;
        }
    }

    /* -----------CREATION => RESPONSIVE ----------- */

    article#article_creation {

        grid-template-columns: repeat(1, 1fr)!important;
    }

    #creation {
        height: 130vh;
    }

    
    /* -----------COMPETENCE => RESPONSIVE ----------- */
    
    article#article_competence {

        display: grid;
        grid-template-columns: 100px;
    }

    /* -----------PARCOURS => RESPONSIVE ----------- */

    #container_cards {

        display: flex;
        justify-content: center;
    }


    #vertical-line {

        display: none;
    } 

    /* -----------FOOTER => RESPONSIVE ----------- */


    footer#footer_main {
        bottom: -3333px;
    }

    
  }
        /* -----------SMALL----------- */

  @media screen and (max-width: 743px) {

    /* -----------CONTAINER_MAIN => RESPONSIVE ----------- */

    #portfolio_main {
        width: 100%!important;
        margin-right: 25%!important;
        
        p {
            width: 80%;
        }
    }

     /* -----------COMPETENCE => RESPONSIVE ----------- */


  #principale {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  #competence{
    height: 120vh;

    aside {

        margin-top: 200px;
    }
  }

.ligne {

    height: 100%;
    flex-direction: column;
    margin-right: 100px;
}

.skill {
    margin-top: 50px;
}

footer#footer_main {
    bottom: -3530px;
}


  }
